#### 1.customers-who-never-order

In [2]:
# if id is in cust_id don't select that. for that we can use tilde sign
df1[~df1['id'].isin(cust_id)][['name']].rename(columns={'name':'Customers'})

#### 2.invalid-tweets

In [ ]:

# The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15
# Method 1 (Using str)
df[df['content'].str.len()>15][['tweet_id']]

# Method 2 (using lambda functions)
df[df['content'].apply(lambda x: len(x)>15)][['tweet_id']]

#### 3.calculate-special-bonus

In [ ]:
# Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% 
# of their salary if the ID of the employee is an odd number and the employee's name 
# does not start with the character 'M'. The bonus of an employee is 0 otherwise.

# You can use dataframe and apply
df['bonus'] = df.apply(lambda row: row['salary'] if row['employee_id'] % 2 == 1 
                       and not row['name'].startswith('M') else 0, axis=1)

# Using np.where()
df['bonus'] = np.where((df['employee_id']%2!=0) & 
                       (~(df['name'].str.startswith('M'))),df['salary'],0)

#### 4.fix-names-in-a-table

In [ ]:
# Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

# Uppercase first letter rest of the letter lower case
df['name']=df['name'].apply(lambda x:x[0].upper() + x[1:].lower())

# Using capitalize
df['name'] = df['name'].str.capitalize()

#### 5.invalid-tweets

- Write a solution to find the users who have valid emails.

- A valid e-mail has a prefix name and a domain where:

- The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
The domain is '@leetcode.com'.

In [ ]:
users[users['mail'].str.match(r'^[A-Za-z][A-Za-z0-9_\.\-]*@leetcode(\?com)?\.com$')]

#### 6. patients-with-a-condition

In [6]:
df[df['conditions'].apply(lambda x: any(x.startswith('DIAB1') for x in x.split()))]

DIAB1

#### 7.invalid-tweets

In [ ]:
def nth_highest_salary(df: pd.DataFrame, N: int) -> pd.DataFrame:
    col_name  = f'getNthHighestSalary({N})'
    if df.shape[0] < N:
        return pd.DataFrame({col_name: [None]})
    
    # Rank salaries in descending order
    df['rank'] = df['salary'].rank(method='dense', ascending=False)
    
    # Filter the Nth highest salary
    nth_highest = df[df['rank'] == N].iloc[0:1:]
    
    # # If there is no Nth highest salary, return 'null'
    if nth_highest.empty:
        return pd.DataFrame({col_name: [None]})
    # return nth_highest
    return nth_highest[['salary']].rename(columns = {'salary':col_name})

#### 8.rank-scores

- Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

    - The scores should be ranked from the highest to the lowest.
    - If there is a tie between two scores, both should have the same ranking.
    - After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

In [ ]:
df['rank'] = df['score'].rank(method='dense',ascending=False)

#### 9.delete-duplicate-emails

- Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

In [ ]:
def delete_duplicate_emails(df: pd.DataFrame) -> None:
  # df = df.sort_values(by='email')
  # df = df.groupby('email').agg({'id':'min'}).reset_index()[['id','email']].sort_values(by='id')
  df.sort_values(by='id',ascending=True,inplace=True)
  df.drop_duplicates(subset='email',keep='first'    ,inplace=True)

#### 10.rearrange-products-table

In [ ]:
def rearrange_products_table(df: pd.DataFrame) -> pd.DataFrame:
  df = pd.melt(df,id_vars=['product_id'],value_vars = df.columns[1:],var_name = 'store',value_name='price')
  return df[df['price'].notnull()]

#### 11.count-salary-categories

- Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:

    - "Low Salary": All the salaries strictly less than $20000.
    - "Average Salary": All the salaries in the inclusive range [$20000, $50000].
    - "High Salary": All the salaries strictly greater than $50000.

In [ ]:
def count_salary_categories(df: pd.DataFrame) -> pd.DataFrame:
  df['category'] = pd.cut(df['income'],bins=[-np.inf,20000,50000,np.inf],labels=['Low Salary','Average Salary','High Salary'],right=True)
  mask = df['income']==20000
  df.loc[mask,'category'] = 'Average Salary'
  df = df.groupby('category').agg(accounts_count = ('category','count')).reset_index().sort_values(by='accounts_count')

#### 12.group-sold-products-by-the-date

In [ ]:
def categorize_products(df: pd.DataFrame) -> pd.DataFrame:
  df = df.groupby('sell_date').agg(num_sold = ('product','nunique'), products = ('product',lambda x: sorted(list(set(x))))).reset_index().sort_values(by='sell_date')
  df['products'] = df['products'].apply(lambda x: ','.join(x))
  return df

#### 13.sales-person

In [ ]:
def sales_person(sp,comp,ord):
  df = pd.merge(sp,ord,on=['sales_id'],how='left').merge(comp,on='com_id',how='left')[['name_x','name_y']].rename(columns = {'name_x':'name','name_y':'colr'})
  df = df.groupby(['name']).agg(colr_list = ('colr',lambda x: list(x))).reset_index()

  df = df[df['colr_list'].apply(lambda x: False if 'RED' in x else True)]
  return df[['name']]